/* Custom styles for Banner component */

.banner-social-icons {
  position: fixed;
  left: 2vw;
  bottom: 3vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 10;
}

.main-title{
  font-size: 4rem;
}

.banner-text{
  max-width: 20em !important;
}

.banner-social-icons a {
  color: var(--link);
  font-size: 2rem;
  transition: color 0.2s, transform 0.2s;
}

.banner-social-icons a:hover {
  color: var(--hover);
  transform: translateY(-4px) scale(1.1);
}

.banner-sidebar{
  padding-bottom: 20vh;
  margin-left: 10vw;
}

