:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg: #0a192f;
  --main-text: #ccd6f6;
  --accent-blue: #64ffda;
 
  --bg: linear-gradient(180deg, #0d1b2a, #1b263b);
  --surface: #212d45;
  --primary: #fca311;
  --accent: #ff5c5c;
  --text: #e0e6ed;
  --text-muted: #a3adc2;
  --border: #2c3a57;
  --link: #fca311;
  --hover: #e48e0c;
  --code-bg: #192538;
  --heading: #fca311;
  --heading2: #ffd580;

  --cursor-glow-color: rgba(0, 42, 104, 0.274);
  --glow-size: 900px;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
} 

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--text);
  font-family: "Manrope", sans-serif;
  
}

#cursor-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--glow-size);
  height: var(--glow-size);
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at center,
    var(--cursor-glow-color) 0%,
    transparent 60%
  );
  border-radius: 50%;
  mix-blend-mode: screen;
  z-index: 9999;
}

.a-link {
  font-weight: 500;
  color: var(--link);
  text-decoration: none;
}

.main-container{
  justify-content: center;
  margin: 0 30em;
}

.a-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

h1, .small-title {
  color: var(--heading) !important;
}

.heading-two{
  color: var(--heading2);
}

.text-secondary, .lead, p, li, .card-text {
  color: var(--text) !important;
}

.card {
  background: var(--surface) !important;
  border: none;
}

button {
  border-radius: 5px !important;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary) ;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:hover{
  background-color: var(--hover);
}

.section-container .section-title {
  display: inline-block;
  background: linear-gradient(
    90deg,
    var(--text) 50%,
    var(--heading) 50%
  );
  background-size: 200% 100%;
  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
  transition: background-position 0.2s ease-in-out;
}


.section-container:hover .section-title {
  background-position: right center;
}


@media (min-width: 768px) {
  .banner-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    background: transparent;
    margin-bottom: 5vh;
  }
 


  .main-container{
    padding: 0;
    justify-content: center;
  }
  
}

@media (min-width: 992px) {
  .banner-sidebar {
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5vw;
  }
}